<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stella.pals" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".views.base.BaseApplication_"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.MainActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".views.login.LoginActivity_"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".views.splash.SplashActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.register.RegisterActivity_"
            android:label="@string/title_activity_register" />
        <activity android:name=".views.thread.ThreadActivity_" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e109d2fc2272b96de4a6a8cf0fc9aeb05c84f439" />
    </application>

</manifest>
